# Basic Python 3

## IF

In [5]:
var1=int(input("Masukka Nilai="))
if var1>=0:
    print("Bilangan positif dengan nilai",var1)
else:
    print("Bilangan negatif dengan nilai",var1)

Masukka Nilai=0
Bilangan positif dengan nilai 0

In [8]:
var2=str(input("Username (3-5 karakter) = "))
if len(var2)<3:
    print("Kurang dari 3, panjang username = ",len(var2))
elif len(var2)>=3 and len(var2)<=5:
    print("Data telah dimasukan ke sistem")
else:
    print("Panjang username berlebih, yaitu",len(var2))

Username (3-5 karakter)=br
Kurang dari 3, panjang username 2

In [ ]:
var3=str(input("Pilih Voucher A atau B = "))
if var3=="A":
    var4=int(input("Masukkan Angka 1-3 = "))
    if var4 == 1:
        print(var3+str(var4)+"=Mobil")
    elif var4 == 2:
        print(var3+str(var4)+"=Motor")
    elif var4 == 3:
        print(var3+str(var4)+"=Sepeda")
    else:
        print("Tidak diterima")
        
elif var3=="B":
    var4=int(input("Masukkan Angka 1-3 = "))
    if var4 == 1:
        print(var3+str(var4)+"=Mesin cuci")
    elif var4 == 2:
        print(var3+str(var4)+"=TV")
    elif var4 == 3:
        print(var3+str(var4)+"=Meja")
    else:
        print("Tidak diterima")

## While

In [14]:
var1=0
while var1<5:
    print(var1)
    var1+=1

0
1
2
3
4

In [15]:
var2=0
while True:
    print(var2)
    var2+=1
    if var2==5:
        break
print("selesai")

0
1
2
3
4
selesai

In [16]:
var3=4
while var3>0:
    print(var3)
    var3-=1

4
3
2
1

## For

In [17]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
Nama_Reptil=["Buaya","Aligator",'Kura-kura','Ular']

In [20]:
Nama_Reptil[0]

'Buaya'

In [21]:
for i in range(0,len(Nama_Reptil)):
    print(Nama_Reptil[i])

Buaya
Aligator
Kura-kura
Ular

In [22]:
for NR in Nama_Reptil:
    print(NR)

Buaya
Aligator
Kura-kura
Ular

In [23]:
for i in "Brian":
    print(i)

B
r
i
a
n

In [24]:
for i in range(0,len(Nama_Reptil)):
    Nama_Reptil[i]=str(input("Masukan data ke-"+str(i)+"="))

Masukan data ke-0=halo
Masukan data ke-1=hola
Masukan data ke-2=guten
Masukan data ke-3=hai

In [25]:
Nama_Reptil

['halo', 'hola', 'guten', 'hai']